# Open a directory in the current window in neovim
alias vi="nvim"

# Go to Evolution directory
alias e="cd $HOME/Evolution/"

# Go to Learning directory
alias m="cd $HOME/Learning/"

# Open image in kitty terminal
alias icat="kitty +kitten icat"

# Search directory using fzf
alias sd="cd ~ && cd \$(find * -type d | fzf)"


# Conduktor --> Kafka GUI | Temporary
alias conduktor="GDK_SCALE=2 /opt/conduktor/bin/Conduktor > /dev/null 2>&1 &"
